.contact-form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contact-form button {
    padding: 10px 20px;
    background-color: #fcb045;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: #fd1d1d;
  }
  